Source: librabbitmq
Section: libs
Priority: extra
Maintainer: Tony Garnock-Jones <tonygarnockjones@gmail.com>
Build-Depends: debhelper (>= 7), autoconf, automake, cmake, libtool, python (>= 2.5), python-simplejson, libpopt-dev, xmlto
Standards-Version: 3.8.1
Homepage: http://www.rabbitmq.com/
Vcs-Browser: https://github.com/alanxz/rabbitmq-c

Package: librabbitmq1
Architecture: any
Section: libs
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AMQP client library written in C

Package: librabbitmq1-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: librabbitmq1 (= ${binary:Version}), libc-dev
Description: developer's libraries and docs for librabbitmq

Package: amqp-tools
Architecture: any
Section: net
Priority: extra
Depends: librabbitmq1 (= ${binary:Version}), ${shlibs:Depends}
Description: Command-line utilities for interacting with AMQP servers
